.product__card {
  height: 260px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
  padding: 0.5em;
  margin-inline: 0.5rem;
  border: 1px solid rgba(222, 157, 157, 0.1);
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.product__image {
  max-height: calc(260px * (3 / 5));
  text-align: center;

  img {
    height: 100%;
    margin: auto;
  }
}

.product__info {
  text-align: center;
}

.product__title {
  font-size: var(--font-small);
}
